.box:hover img {
  --_a: 0deg;
  --_c: calc(100% - var(--y));
}

.box {
  cursor: pointer;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  transform: translateY(250%);
  transition: .8s;
}

.box:hover h2 {
  transform: translateY(0%);
  transition: .8s .2s;
}

